/*
 * Author: Josélio de S. C. Júnior <joseliojrx25@gmail.com>
 * Copyright: Josélio de S. C. Júnior 2021
 */
@import url('/css/main.css');
@media screen and (max-width: 500px) {

    nav.container {
        padding: 0;
    }

    .container {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    #main-movie {
        height: 100%;
        padding: 0 20px;
    }

    #main-movie-description {
        width: 100%;
    }
    
    #main-movie-title img {
        width: 100%;
    }

    iframe {
        width: 90vw;
    }

}